.flex-style {
  display: flex;
  flex: 1;
}

.container {
  background-color: #424c55;
}

.side-col {
  padding: 20px;
}

.main-col {
  flex: 1;
  flex-direction: column;
}

.main-col.desktop {
  overflow: auto;
  margin: 20px 0px;
  padding: 0px 0px;
  height: calc(100vh - 100px);
}

.main-col.mobile {
  padding: 20px;
}

.main-col.smobile {
  padding: 0px;
}
