.flex-style {
  display: flex;
  flex: 1;
}

.side-col {
  display: flex;
  flex: 0;
  padding: 20px;
}

.main-col {
  padding: 20px;
  flex-direction: column;
  /* overflow-y: scroll; */
  /* height: 100%; */
}

.full-height {
  height: 100%;
  background-color: #d2d7df;
}
